<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECA57EBD1D3D11E3009389F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECA57ED61D3D11E3009389F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECA57EE11D3D11E3009389F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
